<main>
  <%- include('../partials/header') %>
    <%- include('../partials/nav') %>

      <div class="container mt-4">
        <h2>User Dashboard</h2>
        <p>Welcome, <%= user.name %>!</p>
        <hr>
        <p>This is where you can see your purchased books, reading list, etc.</p>
      </div>

      <%- include('../partials/footer') %>
</main>